*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}

html,body{
    height: 100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
  
}

#header{
    height: 13%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
   
}

#logo{
    height: 50%;
   
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texts{
    color: darkblue;
    display: flex;
}

.texts:hover{

color: lightblue;
}

#contactdetails{
    
    font-weight: lighter;
}

.icon{
  border-radius: 30%;
}

.icon:hover{
    background-color: lightblue;
}

#login{
    padding: 10px;
    border-radius: 50px;
    display: flex;
    background-color: lightblue;
}

#login:hover{
    background-color: lightblue;
}

#try{
  background-color: green;
  padding: 10px 20px;
  color: white;
}

#try:hover{
    background-color:rgb(0, 51,0);

}


#fakeheader{
    height: 13%;
    width: 100%;
    
   
}

#page1{
    height: 73%;
    width: 100%;
}

#strip{
    width: 100%;
    height: 8%;
    background-color:darkblue ;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
 
}

#strip u{
    margin-left: 20px;
    font-weight: 100;
}

#content{
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#box1{
    height: 90%;
    width: 47%;
    background-color: white;
    
  
}

#box2{
    height: 90%;
    width: 47%;
    background-color: white;   
 
}

#box2 img{
    width: 100%;
    height: 450px;
    object-fit: cover;

}



#heading{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 84);
    font-size: x-large;
}

#heading h1{
    font-weight: bold ;
}

#box1 h1{
    font-weight: bold ;
    color: rgb(48, 50, 157);
    font-size: 70px;
    margin: 30px 10px;
}

#box1 p{
    font-size:xx-large;
    margin: 10px;
    font-weight: 100;
     margin: 30px 10px;
}

#btns{
    display: flex;
}

#btn1{
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(43, 118, 193);
    text-align: center;
    border-radius: 5px;
}

#btn1:hover{
    background-color: darkblue;
}

#btn2{
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color:rgb(0, 83, 110);
    border: 1px solid rgb(33, 95, 150);
    text-align: center;
     border-radius: 5px;
}

#btn2:hover{
    background-color: lightblue;
    color: rgb(37, 102, 124);
}

#page2{
    height: 87%;
    width: 100%;
    background-color: darkgrey;
}